html, body {
    background: rgb(135, 175, 144);
}
.container {
    height: 400px;
    width: 350px;
    margin-left: 220px;
    border-radius: 10px;
    box-shadow:15px 8px 18px rgba(0, 0, 10, 0.9);
    background-color: rgb(18, 208, 18);
    border-width: 12px;
    border-style: solid;
    border-color: rgba(25, 14, 16, 0.5);
}
.container p {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}
.container h2 {
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-me-container {
    height: 400px;
    width: 550px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 10px;
    border-radius: 12px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    background-color: grey;
    z-index: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.about-me-container a {
    position: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.text-by-button {
    color: rgb(5, 6, 5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-left: 310px;
}
button {
    background-color: rgb(51, 206, 51);
    border-radius: 8px;
    border-width: 9px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}
button:hover {
    background-color: green;
    color: white;
}
.resetButton {
    margin-top: 40px;
    margin-left: 30px;
    width: 280px;
    padding: 20px;
}
.resetButton:hover {
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(120, 5, 5);
}
.about-me-button {
    margin-top: 10px;
}
.pictureLink {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 380px;
    background-color: rgb(7, 151, 86);
    height: 80px;
    border: 4px dotted black;
    margin-left: 280px;
    }
    .linkText {
        color: rgb(47, 4, 221);
    } 
    .linkText:hover {
        color: rgb(86, 4, 18);
    }  
    #bikeImage {
        position: absolute;
        left: 430px;
        top: 150px;
        
    }
    @media (max-width: 600px) {
        .container {
            width: 250px;
            margin-left: 10px;
        }
        .container p {
            font-size: 1em;
        }
        .container h2 {
            font-size: 1em;
        }
        .about-me-container {
            overflow-wrap: break-word;
            box-sizing: border-box;
            max-width: 100%;
            max-height: 100%;
            padding-left: 10px;
            margin-left: 170px;
            margin-top: -30px;
        }
        .about-me-container a {
            margin-bottom: 40px;
            padding-bottom: 40px;
        }
        .text-by-button {
            padding-left: 250px;
        }
        button {
            padding: 10px;
            font-size: 0.8em;
        }
        button:hover {
            padding: 10px;
            font-size: 0.8em;
        }
        resetButton {
            margin-top: 40px;
            margin-left: 30px;
            width: 200px;
            padding: 20px;
        }
        resetButton:hover {
            color: white;
            font-weight: bold;
        }
    }